.info-pane {
    font-family: sans-serif;
    position: absolute;
    color: white;
    font-size: 30px;
}

.info-pane * {
    float: left;
    margin: 5px;
}

#stats {
    top: 15px;
}

#counts {
    bottom: 15px;
}



#instructions {
    font-family: sans-serif;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: white;
    font-size: 20px;
}

body {
    background-color: #002;
}