#count-frame {
    font-family: sans-serif;
    position: absolute;
    top: 15px;
    color: white;
    font-size: 30px;
}

#count-frame * {
    float: left;
    margin: 5px;
}

#instructions {
    font-family: sans-serif;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: white;
    font-size: 20px;
}

body {
    background-color: #002;
}